@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.main-text {
	background-color: lightblue;
    width: 80%;
    margin: 50px auto;
	color: black;
    padding: 30px;
	margin-bottom: 50px;
}

.VM {
	background-color: lightblue;
    display: flex ;
    /*text-align: center;
    width: auto;*/
    justify-content: center;
}


.VM .vision {
	background-color: lightgreen;
    background-color: white;
    margin: 50px;
	text-align: center;
    /*margin-bottom: 50px;
    line-height: 20px;*/
    position: relative;
	padding: 30px;
}


.value {
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 75px;
	padding-top: 55px;
	padding-bottom: 20px;
}

.title h3 {
	background-color: lightblue;
	color: black;
    padding: 15px;
	padding-left: 10px;
	padding-right: 10px;
	width: 36%;
	margin: auto;
	
}

.value_container .menu-items {
    display: flex;
    list-style-type: none;
	justify-content: center;
}

.value_container li {
    margin: 0 50px;
	/*padding-top: 30px;
    padding-bottom: 30px;*/
	margin: 75px auto;
	margin-bottom: 30px;
	margin-top: 55px;
}

hr.solid {
  border-top: 3px solid lightblue;
  width: 60%;
  margin: auto;
}

.container{
	position: relative;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	margin-top: 40px;
	border-radius:0px;
}

.container .imgBx {
	position: relative;
	width: 570px;
	height: 350px;
}

.container .card {
	background-color: lightblue;
	position: relative;
	width: 570px;
	height: 350px;
	padding: 25px;	
	border: none;
}

.container .card h2{
	font-size: 30px;
	color: black;
}

.container .card p{
	margin-top: 20px;
	color: black;
}

.container .card a{
	display: inline-block;
	margin-top: 15px;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
}

/*.container .card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	background: lightblue;
}





.container .card {
	position: absolute;
	left: 510px;
	width: 500px;
	height: 400px;
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card h2{
	font-size: 30px;
	color: black;
}

.container .card p{
	margin-top: 10px;
	color: black;
}

.container .card a{
	display: inline-block;
	margin-top: 15px;
	color: black;
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
}*/

.footer-out {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background: #111;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: left;
	flex-direction: row;
	margin-top: 65px;
}


.sci {
    margin: auto;
    display: flex;
}
.sci ultra-condensed{
	margin: auto;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 0 20px;
    width: 100px;
}
footer .container1 {
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    flex-wrap: wrap ;
    flex-direction: row;
}


footer .container1 .saksham {
    width: 30%;

}
footer .container1 h3 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

}
footer .container1  h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p {
    color: #999;
    font-size: 12px;

}
footer .foot {
    display: flex;
    padding-left: 500px;
    padding-bottom: 20px;
    margin-left: 50px;
    text-decoration: none;
}
.foot li {
    list-style: none;
}
/*
.foot li a {
    display: inline-block;
    margin: 0 20px;
    width: 100px;
}

	

